#python==3.8.6
azure-cognitiveservices-speech==1.19.0
filetype==1.0.9
pip==21.3.1
setuptools==59.4.0
wheel==0.37.0
attrs==21.4.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
toml==0.10.2
tensorflow==1.15
numpy==1.19.5
nltk==3.6.7
json-lines==0.5.0
rouge==1.0.1