{% extends "base.html" %}

{% block title %}Home{% endblock %}

{ % block head % }
{ % endblock % }

{% block page_content %}
    <h1> Consultation Report </h1>
    <br/>
    <h3> First Name: {{patient.first_name}} <h3>
    <h3> Last Name: {{patient.last_name}} </h3>
    <h3> Date Of Birth: {{patient.date_of_birth}} <h3>
    <h3> Email: {{ patient.email }} <h3>
    <br/>
    
    <h3> Transcribed Consulation: <h3>
        <h4>
            {% for line in transcribed_lines %}
            {{ line }}
            {% endfor %}
        </h4>

    <h3> Summarized Consultation Report: <h3>
    <h4>
        {% for line in summarized_lines %}
        {{ line }}
        {% endfor %}
    </h4>

    <br/>

    <form action="/downloadProcessedAudio" method="POST" enctype="multipart/form-data">
        <div class="form">
            <button type="submit" class="btn btn-default">Download Summarized Consultation Report</button>
        </div>
    </form>

    <br>

    <form action="/downloadTranscribedAudio" method="POST" enctype="multipart/form-data">
        <div class="form">
            <button type="submit" class="btn btn-default">Download Original Transcription</button>
        </div>
    </form>
{% endblock %}